body {
    background-color: #E7F6F2;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #395B64;
    border-bottom: 2px solid #2c3333;
    text-align: center;
    color: #E7F6F2;
}

.header_h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
    margin: 10px auto 25px;
}

.header_logo {
    width: 100%;
    height: 350px;
}

.main {
    flex: 1;
}

.arrow_left, .arrow_right {
    max-width: 124px;
    max-height: 125px;
}

.buttons {
    position: relative;
    left: 40%;
    top: 2rem;
}

.quote_box {
    width: 50%;
    height: 300px;
    border: 2px solid #2c3333;
    margin: 3rem auto;
}

#quote_copy {
    position: relative;
    left: 70.4%;
    bottom: 3.5em;
}

.footer {
    border-top: 1px solid #2c3333;
}

.footer_text {
    text-align: center;
    margin: 5px auto;
}